@page
@{
    Layout = null;
    ViewData["Title"] = "跑起來跑起來";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SlimeRacing - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <style>

        header
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        
        #raceTrack
        {
            background-image: url('/images/slime/race_trace1.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top right;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .slime
        {
            position:relative;
            left: 0%; 
            width: 10%
        }

    </style>
</head>
<body style="background-color:#428C4D">
    <header style="width: 100vw; height: 8vh">
        <div class="col-6">
            <a class="navbar-brand" asp-area="" asp-page="/"><img src="/images/slime/topic.png" alt="topic"></a>
        </div>
        <div class="col-3">
            <input type="button" style="padding:.5rem 1rem;" class="btn btn-lg btn-warning" id="readyButton" value="Ready" />
        </div>
        <div class="col-3">
            <input type="button" style="padding:.5rem 1rem;" class="btn btn-lg btn-danger" id="resetButton" value="Reset" />
        </div>
    </header>

    <div id="raceTrack" style="width: 100vw; height: 92vh">
        <div alt="0" id="slime0" class="slime" style=""><img src="/images/slime/0.gif"></div>
        <div alt="1" id="slime1" class="slime" style=""><img src="/images/slime/1.gif"></div>
        <div alt="2" id="slime2" class="slime" style=""><img src="/images/slime/2.gif"></div>
        <div alt="3" id="slime3" class="slime" style=""><img src="/images/slime/3.gif"></div>
        <div alt="4" id="slime4" class="slime" style=""><img src="/images/slime/4.gif"></div>
        <div alt="5" id="slime5" class="slime" style=""><img src="/images/slime/5.gif"></div>
        <div id="indicator" style="position:absolute;left:23%;width:50%;display:none;"><img id="indicatorImg" src="~/images/slime/R3.png" style=""></div>
        <div id="rankBox" style="position:absolute;left:23%;width:50%;display:none;"><img src="~/images/slime/winner.png"><br><img id="winner" src=""></div>  
    </div>    

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/js/runway.js"></script>
</body>
</html>